Presentazione_Palmisano_Miki.pdf
Presentazione_Palmisano_Miki.pptx
MATLAB/
Exercises_Stat_KL_MLE.pdf
.DS_STORE
Riconoscimento_Iride/casia-iris-syn/
Riconoscimento_Iride/casia-iris-converted/
Riconoscimento_Iride/iris_images/
Riconoscimento_Iride/iris-converted/
Riconoscimento_Impronta_Digitale/socofing/
